#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:-1;
}

.navbar {
  margin-bottom: 18px;
  overflow: visible;
  position: fixed;
  z-index: 999999999;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
}

.navbar-inner {
  max-width: 1150px;
}

.navbar .nav>li>a {
  float: none;
  padding: 12px 10px 11px;
  line-height: 19px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
}

.navbar .brand {
  margin-top: 3px;
}

.footer {
  float: none;
  padding: 12px 10px 11px;
  line-height: 19px;
  color: #e0e0e0;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
  position: fixed;
  z-index: 999999999;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
  height:25px;
}

@media (min-width: 768px) {
	.navbar-inner {
	  margin: 0 auto;
	}
   
}

h1 {
	font-family: 'Exo 2', sans-serif;
}

h2 {
	font-family: 'Exo 2', sans-serif;
}

div {
	font-family: 'Exo 2', sans-serif;
}

.navbar-inner {
  background-color: #000;
  background-image: -moz-linear-gradient(top,#000,#000);
  background-image: -ms-linear-gradient(top,#000,#000);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#000),to(#000));
  background-image: -webkit-linear-gradient(top,#000,#000);
}

.margin-bump-up {
  margin-top:-15px;
  margin-left:3px;
}

.margin-bump-up-2 {
margin-top:-5px;
margin-left:3px;
}

.span-pad {
	margin-right:10px;
}


body {
  font-family: 'Open Sans',sans-serif;	
  -webkit-font-smoothing: antialiased;
  color:white;
}

.trig_color {
  color:white;	
}

.trig_change:hover {
  color:white;	
}

.hr-custom {
	margin: 18px 0;
  border: 0;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #242423;
}

.hr-custom-2 {
  margin: 3px 0;
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.hr-custom-3 {
  margin: 15px -16px 15px -16px;
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #4b4c4d;
}

.hr-custom-4 {
  clear:both;
  margin:80px;
  height:0px;
  border: 0;
  border-top: 0px;
  border-bottom: 0px;
}

.hr-custom-5 {
  clear:both;
  margin:20px;
  height:0px;
  border: 0;
  border-top: 0px;
  border-bottom: 0px;
}

.semi-backer {
  background-color:rgba(0,0,0,0.85);
}

.well-custom {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: -1px 2px 41px 40px rgba(255,255,255,1);
  -moz-box-shadow: -1px 2px 41px 40px rgba(255,255,255,1);
  box-shadow: -1px 2px 41px 40px rgba(255,255,255,1);
}

.nuke-box-shadow {
  -webkit-box-shadow: -1px 2px 41px 40px rgba(255,255,255,0) !important;
  -moz-box-shadow: -1px 2px 41px 40px rgba(255,255,255,0) !important;
  box-shadow: -1px 2px 41px 40px rgba(255,255,255,0) !important;
}

.well-custom-2 {
  -webkit-box-shadow: -1px 2px 19px -6px rgba(255,255,255,1);
  -moz-box-shadow: -1px 2px 19px -6px rgba(255,255,255,1);
  box-shadow: -1px 2px 19px -6px rgba(255,255,255,1);
  min-height: 240px;
}

.image-over {
  position: absolute;
  z-index: 10;
  padding: 0px 30px 0px 20px; 
  background: rgba(255,255,255,1);
  box-shadow: 0 1px 60px rgba(255,255,255,1);
}

.small-cust-img {
  margin-top: 11px;
  margin-right: 5px;
}

.image-margin {
  margin-top: -12px;

}

.inner-div-yellow {
  color:black;
}

img {
  border-radius: 4px;
}

.img-margin {
  margin-top: 23px;
}

.recomend-sub-heading {
  color: #858585;
}


@media (min-width: 480px) {
  .inner-div-height-margin {
    //height:1070px;
    //width:480px;
  }
  .hide-footer {
  	display:none;
  }
}

@media (min-width: 750px) {
  .inner-div-height-margin {
    //height:1070px;
    //width:600px;
  }
  .hide-footer {
  	display:none;
  }
}

@media (min-width: 1150px) {
	.inner-div-height-margin {
		width:1150px;
		//height:570px;
		margin:0 auto;
  }
  
}

@media (max-width: 1000px) {
	.my-doge-container {
		display:none;
  }
  #legalGPS {
    display: none;
  }
  .faces_hide {
    display: none !important;
  }
}



.h1-class {
	margin-left: 0px; 
	margin-bottom: 30px; 
	margin-right: 15px;
	margin-top: 20px;
}

.h1-class-more {
	margin-left: 0px; 
	margin-bottom: 10px; 
	margin-right: 15px;
  margin-top: 40px;
}

.img-class {
	height:470;
}

.my-doge-container {
	position:relative;
	left:60px;
	bottom:-128px;	
	width:650px;
	z-index:99999999;
}

.my-doge {
	z-index:999999;
	width:100px;
	height:110px;
}

.my-bubble {
	width:550px;
	//height:40px;
	margin-top:-70px;
	margin-left:80px;
}

.back-control {
  cursor: pointer;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
  background:-moz-linear-gradient(#f3961c, #f9d835);
  background:-o-linear-gradient(#f3961c, #f9d835);
  background:linear-gradient(#f3961c, #f9d835);
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
  margin-left:50px;
  background:#f3961c;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-isosceles.right {
  margin-right:50px;
  background:#f3961c;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
  top:-15px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-color:#f3961c transparent;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
  top:16px; /* controls vertical position */
  left:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #f3961c;
}

/* Variant : right
------------------------------------------ */

.triangle-isosceles.right:after {
  top:16px; /* controls vertical position */
  right:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 50px;
  border-color:transparent #f3961c;
}

.container-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-quotes {
  quotes:'\201D' '\201C';
  font-size: 18px; 
  line-height: 20px;
}

.testi .blockquote {
  font-size: 18px !important; 
  line-height: 20px !important;
  min-height: 180px;
}

img.img-rounded {
  border-radius: 50%;
}

.guts {
  position: relative;
  color: #3a3a3a;
}
.guts:before {
  content: '\201C';
  color: #81bedb;
  font-size: 350px;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: 150px;
  left: 40px;    
  text-shadow: none;
  z-index: 0;
  font-family: 'Times New Roman', Times, serif;
}
.testimonial-name {
  color: #5e5e5e;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 1px white;
  margin-left: 10px;
}

.testimonial-holder {
  background-color: #81bedb;
  padding: 5px;
  margin-top: -14px;
  border-radius: 3px;
}
.blockquote-sp {
  border-left: 0px;
}

b {
  color: black !important;
}

.last-decade {
  background-color: #81bedb;
  padding: 10px;
  margin-top: -14px;
  border-radius: 3px;
  line-height: 42px;
  color: white;
}

.work-desc-copy {
  font-size: 20px;
  line-height: 20px;
}

.work-desc {
  font-size: 20px;
  line-height: 20px;
  //padding-left:20px;
}

.well-cust-shadow-right {
  -webkit-box-shadow: 38px 2px 31px 22px rgba(255,255,255,1) !important;
  -moz-box-shadow: 38px 2px 31px 22px rgba(255,255,255,1) !important;
  box-shadow: 38px 2px 31px 22px rgba(255,255,255,1) !important;
}

.bullet-b4 {
  position: relative;
  color: #3a3a3a;
  display: block;
  margin-left: 10px;
}
.bullet-b4:before {
  content: '>';
  color: #81bedb;
  font-size: 29px;
  font-weight: 800;
  opacity: .9;
  position: absolute;
  top: 2px;
  left: -24px;    
  text-shadow: none;
  z-index: 0;
  font-family: 'Times New Roman', Times, serif;
}

.bullet-b4-title {
  color: #81bedb;
  font-size: 24px;

}

.test-holder-cust{
  margin-left: -20px;
  margin-top: -10px !important;
  margin-top: 0px;
}
.test-cust{
  padding-left: 5px;
  line-height: 45px;
  font-size: 35px;
}
.test-cust a {
  color: black !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
  
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  




